<div class="home-div">
  <div style="height: 100%;" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutAlign.xs="start center"
    fxLayout.xs="column" fxLayoutGap="20px">
    <mat-card (click)="navigateTo(restaurant)" class="card-div" fxFlex="30"
      *ngFor="let restaurant of restaurentDetails">
      <mat-card-header class="text-center">
        <mat-card-title>{{restaurant?.restaurant_name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="restaurant.restaurant_image || '/assets/images/no-image-available.jpg'"
        alt="Restaurant">
    </mat-card>
  </div>

</div>
